* {padding: 0; margin: 0; text-align: center;}
body {background: linear-gradient(to bottom, #fff 50%, #527CEF 50%); height: 100vh;}
.main {position: absolute; transform: translate(-50%,-50%); top: 50%; left: 50%; width: 500px; background: #fff; padding: 50px 25px; box-shadow: 1px 1px 20px rgba(0,0,0,0.3); border-radius: 8px;}
.colour-display {background: linear-gradient(130deg,red,yellow); height: 240px; margin-bottom: 20px; width: 100%; border-radius: 5px;}
.code-display {border-radius: 5px;margin-bottom: 20px; background: #E7E9EB; padding: 15px 5px; font-family: 'Source Code Pro', monospace; font-size: 15px;}
.buttons {display: flex; justify-content: space-between; width: 80%; margin: 0 auto;}
.btn {padding: 17px 50px; font-family: 'Montserrat', sans-serif; font-weight: 600; border-radius: 50px; border: none; background: #4468C8; color: #fff;font-size: 15px; letter-spacing: 1px; cursor: pointer;}
.btn:hover {background: #516bad}
.copy {padding: 17px 70px;}